body {
	background: #3cb371;
	font-family: Helvetica;
}
fieldset {
	background: #ffffff;
}

.inputbox label{
	display: block;
	float: left;
	width: 100px;
	margin: 0;
	padding: 5px;
	background-color: white;
	color:black;
	text-align: center;
}
.inputbox input{
	padding:5px;
	font-size:16px;
}
.radio input{
  display: none;
}
.checkbox input {
  display: none;
}
.checkbox label{
	display: block;
	float: left;
	width: 70px;
	margin: 0;
	padding: 15px;
	background: #6d6d6d;
	color: #bcbcbc;
	font-size: 16px;
	text-align: center;
	line-height: 0;
	transition: .10s;
}
.checkbox input[type="radio"]:checked + .SL {
	background-color: #228b22;
	color: #ffffff;
}
.checkbox input[type="radio"]:checked + .ML {
	background-color: #f0e68c;
	color: #ffffff;
}
.checkbox input[type="radio"]:checked + .MC {
	background-color: #eea700;
	color: #ffffff;
}
.checkbox input[type="radio"]:checked + .MR {
	background-color: #ff6347;
	color: #ffffff;
}
.checkbox input[type="radio"]:checked + .SR {
	background-color: #ff6347;
	color: #ffffff;
}