#inputEmergencyIcon{
    position:relative;
    left: 5px;
    top: -58px;
    background: url("../../img/img/emergency.png");
    height: 50px;
    width: auto;
    z-index: 9;
}
#inputDentalIcon{
    position:relative;
    left: 85px;
    top: -115px;
    background: url("../../img/img/dental.png");
    height: 50px;
    width: auto;
    z-index: 9;
}
#detailIcon{
    position:relative;
    left: 295px;
    top: -485px;
    background: url("../../img/img/detail.png");
    height: 50px;
    width: auto;
    z-index: 9;
}

#clinicON{
    width:110px;
    font-size:12px;
    text-align: center;
    background-color:white;
    color:black;
    border: 1px #000000 solid;
    font-family:helvetica;
}

#clinicNO{
    width:110px;
    font-size:12px;
    text-align: center;
    background-color:#aaaaaa;
    color:#aaaaaa;
    border: 1px #000000 solid;
    font-family:helvetica;
}
