<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H-CRISIS Assistant 避難所情報緊急時入力</title>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="../js/mqttws31.js"></script>
    <script src="../js/mqtthcrisis.js"></script>
    <link href="../css/box.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form>
        <fieldset>
            <legend>避難所情報の入力</legend>
            ※ 情報が取得できなかった場合、該当箇所は空欄のままで送信してください。
            <br>
            ※ 記録者名は入力必須です。
            <br>
            <label>避難所コード:<input type="text" id="inputCode"  value=""></label>
            <label>避難所名:<input type="text" id="inputShelter"  value=""></label><br>
            <label>記録者:<input type="text" id="inputHuman"  value=""></label><br>
            <label>避難者数:<input type="text" id="inputNum" value=""></label><br>
            <div class="radio">
                <div class="checkbox">
                    <label style="background-color:white;color:black">電気</label>
                    <input type="radio" name="q0" id="OK0" value="11" checked>
                    <label for="OK0" class="OK">可</label>
                    <input type="radio" name="q0" id="NG0" value="0">
                    <label for="NG0" class="NG">不可</label>
                </div>
                <br>
                <br>
                <div class="checkbox">
                    <label style="background-color:white;color:black">ガス</label>
                    <input type="radio" name="q1" id="q0_0" value="11" checked>
                    <label for="q0_0" class="OK">可</label>
                    <input type="radio" name="q1" id="q0_1" value="0">
                    <label for="q0_1" class="NG">不可</label>
                </div>
                <br>
                <br>
                <div class="checkbox">
                    <label style="background-color:white;color:black">水道</label>
                    <input type="radio" name="q2" id="q1_0" value="11" checked>
                    <label for="q1_0" class="OK">可</label>
                    <input type="radio" name="q2" id="q1_1" value="0">
                    <label for="q1_1" class="NG">不可</label>
                </div>
                <br>
                <br>
                <div class="checkbox">
                    <label style="background-color:white;color:black">水道</label>
                    <input type="radio" name="q3" id="q2_0" value="101" checked>
                    <label for="q2_0" class="OK">飲用可</label>
                    <input type="radio" name="q3" id="q2_1" value="102">
                    <label for="q2_1" class="NG">利用可</label>
                    <input type="radio" name="q3" id="q2_2" value="0">
                    <label for="q2_2" class="NG">不可</label>
                </div>
            </div>

            <form>固定電話：
                <label><input type="radio" name="q4" value="11">可</label>
                <label><input type="radio" name="q4" value="0" checked="checked">不可</label>
            </form>
            <form>携帯電話：
                <label><input type="radio" name="q5" value="11">可</label>
                <label><input type="radio" name="q5" value="0" checked="checked">不可</label>
            </form>
            <form>通信：
                <label><input type="radio" name="q6" value="11">可</label>
                <label><input type="radio" name="q6" value="0" checked="checked">不可</label>
            </form>
            <form>トイレ：
                <label><input type="radio" name="q7" value="103">使用可</label>
                <label><input type="radio" name="q7" value="104">使用不可</label>
                <label><input type="radio" name="q7" value="1" checked="checked">無</label>
            </form>
            <form>食料：
                <label><input type="radio" name="q8" value="12">有</label>
                <label><input type="radio" name="q8" value="1" checked="checked">無</label>
            </form>
        </fieldset>

        <fieldset>
            <script>
                function createMessage() {
                    //var createMsg = "test";
                    var topicMsg = "/h-crisis/shelter/emergency/" + document.getElementById('inputCode').value;

                    var createMsg = document.getElementById('inputCode').value +
                            ',' + document.getElementById('inputShelter').value +
                            ',' + document.getElementById('inputHuman').value +
                            ',' + document.getElementById('inputNum').value +
                            "," + lat + "," + lon;

                    for(var i = 0; i < 9; i++) {
                        var arrayValue = "q" + i;
                        var tmpList = document.getElementsByName(arrayValue);
                        for(var j=0; j<tmpList.length; j++) {
                            if(tmpList[j].checked) {
                                createMsg = createMsg + ',' + tmpList[j].value;
                                continue;
                            }
                        }
                    }
                    var nowTime = new Date();
                    var nowYer = nowTime.getFullYear();
                    var nowMon = nowTime.getMonth() + 1;
                    var nowDay = nowTime.getDate();
                    var nowHrs = nowTime.getHours();
                    var nowMin = nowTime.getMinutes();
                    createMsg = createMsg + ',' + nowYer + "/" + nowMon + "/" + nowDay + "/" + nowHrs + ":" + nowMin + "";
                    console.log(topicMsg + " : " + createMsg);
                    onlySubmit(topicMsg, createMsg);
                }
            </script>
            <input id ="closeBtn" type="button" onclick="window.close()" value="閉じる" />
            <input id = "submitBtn" type="button" onclick="createMessage();" value="送信" />
            <script>
                var urlStr = location.search;
                if(urlStr === '') {
                    // 避難所IDと避難所名がないと送信ボタンが押せない設定
                     document.getElementById('submitBtn').disabled = 'true';
                }
                else {
                    var pairUrlStr = urlStr.split(',');
                    if(pairUrlStr.length>=2) {
                        console.log(pairUrlStr[0])
                        pairUrlStr[0] = pairUrlStr[0].substr(4);
                        pairUrlStr[0] = decodeURI(pairUrlStr[0]);
                        pairUrlStr[1] = pairUrlStr[1].substr(5);
                        pairUrlStr[1] = decodeURI(pairUrlStr[1]);
                        document.getElementById('inputCode').value = pairUrlStr[0];
                        document.getElementById('inputCode').disabled = 'true';
                        document.getElementById('inputShelter').value = pairUrlStr[1];
                        document.getElementById('inputShelter').disabled = 'true';

                    }
                }
            </script>

        </fieldset>
    </form>
</body>
</html>

