<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H-CRISIS Assistant 避難所アセスメントシート  (共通様式)</title>
    <script src="../js/mqttws31.js"></script>
    <script src="../js/mqtthcrisis.js"></script>
</head>
<body>
<form>
    <p>避難所アセスメントシート<label style="float:right">記載者(所属・役職):<input type="text" id="inputHuman"  value=""></label></p>
    <p>※ 右上の記載者名は入力必須です。</p>
    <fieldset>
        <legend>避難所情報の入力：避難所の概要</legend>
        ※ 情報が取得できなかった場合、該当箇所は空欄のままで送信してください。
        <br>
        <label>避難所コード:<input type="text" id="inputCode"  value=""></label>
        <label>所在地(都道府県、市区町村):<input type="text" id="inputPref"  value=""></label><br>
        <label>避難所名:<input type="text" id="inputSchelter"  value=""></label><br>
        <hr>
        <form>避難者数:
            <label><input type="text" id="inputSchelterNum"  value="">人</label>
            <label>昼:<input type="text" id="inputSchelterDNum"  value="">人</label>
            <label>夜:<input type="text" id="inputSchelterNNum"  value="">人</label>
            <hr>
            <label>電話:<input type="text" id="inputSchelterTEL"  value=""></label>
            <label>FAX:<input type="text" id="inputSchelterFAX"  value=""></label>
            <label>メールアドレス:<input type="text" id="inputSchelterEMAIL"  value=""></label>
            <hr>
            <label>施設の広さ:<input type="text" id="inputSchelterAREA"  value=""></label>
            <label>スペース密度:<input type="radio" name="q11" value="過密">過密</label>
            <label><input type="radio" name="q11" value="適度" checked="checked">適度</label>
            <label><input type="radio" name="q11" value="余裕" checked="checked">余裕</label>
            <br>
            <label>一人当たり専有面積:<input type="text" id="inputSchelterAREAPER"  value="">m2くらい</label>
            <label>交通機関(避難所と外との交通手段):<input type="text" id="inputSchelterTRAFFIC"  value=""></label>
        </form>
    </fieldset>
    <fieldset>
        <legend>避難所情報の入力：組織や活動</legend>
        ※ 情報が取得できなかった場合、該当箇所は空欄のままで送信してください。
        <br>
        <form>
            管理統括・代表者の情報
            <br>
            <label>氏名(立場):<input type="text" id="inputRep"  value=""></label>
            <label>その他:<input type="text" id="inputRepRest"  value=""></label>
        </form>
        <hr>
        <form>連絡体制／指揮命令系統：
            <label><input type="text" id="inputCommunication"  value=""></label>
            <br>
            自主組織
            <label><input type="radio" name="q21" value="有" onclick="inputSELFORGAN()">有</label>
            <label><input type="radio" name="q21" value="無" onclick="inputSELFORGAN()" checked="checked">無</label>
            <input style="display:none" type="text" id="inputSelfOrganDetail"  value="">
        </form>
            外部組織
            <label><input type="radio" name="q22" value="有" onclick="inputOUTERORGAN()">有</label>
            <label><input type="radio" name="q22" value="無" onclick="inputOUTERORGAN()" checked="checked">無</label>
        <form>
            <p id="inputOuterOrgan" style="display:none">チーム数/人数/職種</p>
            <label><input style="display:none" type="text" id="inputOuterOrganTeam" value=""></label>
            <label><input style="display:none" type="text" id="inputOuterOrganNum" value=""></label>
            <label><input style="display:none" type="text" id="inputOuterOrganJob" value=""></label>
        </form>
        ボランティア
        <label><input type="radio" name="q23" value="有" onclick="inputVOLUNTEER()">有</label>
        <label><input type="radio" name="q23" value="無" onclick="inputVOLUNTEER()" checked="checked">無</label>
        <form>
            <p id="inputVolunteerOrgan" style="display:none">チーム数/人数/職種</p>
            <label><input style="display:none" type="text" id="inputVolunteerOrganTeam" value=""></label>
            <label><input style="display:none" type="text" id="inputVolunteerOrganNum" value=""></label>
            <label><input style="display:none" type="text" id="inputVolunteerOrganJob" value=""></label>
        </form>
        <hr>
        <form>
            医療の提供状況
            <label>救護所:<input type="radio" name="q24" value="有">有</label>
            <label><input type="radio" name="q24" value="無" checked="checked">無</label>
            <br>
            <label>巡回診療:<input type="radio" name="q25" value="有">有</label>
            <label><input type="radio" name="q25" value="無" checked="checked">無</label>
            <br>
            <label>地域の医師との連携:<input type="radio" name="q26" value="有">有</label>
            <label><input type="radio" name="q26" value="無" checked="checked">無</label>
        </form>
        <hr>
        <label>避難者への情報伝達手段(黒板・掲示板・マイク・チラシ配布など)<br>
            <input style="width: 350px" type="text" id="inputOrganOther" value=""></label>
    </fieldset>
    <fieldset>
        <legend>避難所情報の入力：環境的側面</legend>
        ※ 情報が取得できなかった場合、該当箇所は空欄のままで送信してください。
        <br>
        <form>
            <label>ライフライン</label><br>
            電気:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q31" value="十分">1</label>
            <label><input type="radio" name="q31" value="やや十分">2</label>
            <label><input type="radio" name="q31" value="やや皆無">3</label>
            <label><input type="radio" name="q31" value="皆無" checked="checked">4 皆無→</label>
            <br>
            ガス:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q32" value="十分">1</label>
            <label><input type="radio" name="q32" value="やや十分">2</label>
            <label><input type="radio" name="q32" value="やや皆無">3</label>
            <label><input type="radio" name="q32" value="皆無" checked="checked">4 皆無→</label>
            <br>
            水道:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q33" value="十分">1</label>
            <label><input type="radio" name="q33" value="やや十分">2</label>
            <label><input type="radio" name="q33" value="やや皆無">3</label>
            <label><input type="radio" name="q33" value="皆無" checked="checked">4 皆無→</label>
            <br>
            飲料水:&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q34" value="十分">1</label>
            <label><input type="radio" name="q34" value="やや十分">2</label>
            <label><input type="radio" name="q34" value="やや皆無">3</label>
            <label><input type="radio" name="q34" value="皆無" checked="checked">4 皆無→</label>
            <br>
            固定電話: ←十分
            <label><input type="radio" name="q35" value="十分">1</label>
            <label><input type="radio" name="q35" value="やや十分">2</label>
            <label><input type="radio" name="q35" value="やや皆無">3</label>
            <label><input type="radio" name="q35" value="皆無" checked="checked">4 皆無→</label>
            <br>
            携帯電話: ←十分
            <label><input type="radio" name="q36" value="十分">1</label>
            <label><input type="radio" name="q36" value="やや十分">2</label>
            <label><input type="radio" name="q36" value="やや皆無">3</label>
            <label><input type="radio" name="q36" value="皆無" checked="checked">4 皆無→</label>
            <br>
            <label>対応<input style="width: 350px" type="text" id="inputLR1" value=""></label>
        </form>
        <hr>
        <form>
            <label>設備状況と衛生面</label><br>
            洗濯機:&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q37" value="十分">1</label>
            <label><input type="radio" name="q37" value="やや十分">2</label>
            <label><input type="radio" name="q37" value="やや皆無">3</label>
            <label><input type="radio" name="q37" value="皆無" checked="checked">4 皆無→</label>
            <br>
            冷蔵庫:&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q38" value="十分">1</label>
            <label><input type="radio" name="q38" value="やや十分">2</label>
            <label><input type="radio" name="q38" value="やや皆無">3</label>
            <label><input type="radio" name="q38" value="皆無" checked="checked">4 皆無→</label>
            <br>
            冷暖房:&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q39" value="十分">1</label>
            <label><input type="radio" name="q39" value="やや十分">2</label>
            <label><input type="radio" name="q39" value="やや皆無">3</label>
            <label><input type="radio" name="q39" value="皆無" checked="checked">4 皆無→</label>
            <br>
            照明:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q310" value="十分">1</label>
            <label><input type="radio" name="q310" value="やや十分">2</label>
            <label><input type="radio" name="q310" value="やや皆無">3</label>
            <label><input type="radio" name="q310" value="皆無" checked="checked">4 皆無→</label>
            <br>
            調理設備: ←十分
            <label><input type="radio" name="q311" value="十分">1</label>
            <label><input type="radio" name="q311" value="やや十分">2</label>
            <label><input type="radio" name="q311" value="やや皆無">3</label>
            <label><input type="radio" name="q311" value="皆無" checked="checked">4 皆無→</label><br>
            <label>対応<input style="width: 350px" type="text" id="inputLR2" value=""></label>
            <hr>
            トイレについて
            <br>
            トイレ:&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q312" value="十分">1</label>
            <label><input type="radio" name="q312" value="やや十分">2</label>
            <label><input type="radio" name="q312" value="やや皆無">3</label>
            <label><input type="radio" name="q312" value="皆無" checked="checked">4 皆無→</label>
            <br>
            <label>トイレ<input type="text" id="inputToiletNum"  value="">箇所</label>
            <br>
            下水:
            <label><input type="radio" name="q313" value="有">有</label>
            <label><input type="radio" name="q313" value="無" checked="checked">無</label>
            <br>
            清掃:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;←十分
            <label><input type="radio" name="q314" value="十分">1</label>
            <label><input type="radio" name="q314" value="やや十分">2</label>
            <label><input type="radio" name="q314" value="やや皆無">3</label>
            <label><input type="radio" name="q314" value="皆無" checked="checked">4 皆無→</label>
            <br>
            汲み取り:←十分
            <label><input type="radio" name="q315" value="十分">1</label>
            <label><input type="radio" name="q315" value="やや十分">2</label>
            <label><input type="radio" name="q315" value="やや皆無">3</label>
            <label><input type="radio" name="q315" value="皆無" checked="checked">4 皆無→</label>
            <br>
            手洗い場:←十分
            <label><input type="radio" name="q316" value="十分">1</label>
            <label><input type="radio" name="q316" value="やや十分">2</label>
            <label><input type="radio" name="q316" value="やや皆無">3</label>
            <label><input type="radio" name="q316" value="皆無" checked="checked">4 皆無→</label>
            <br>
            手指消毒:←十分
            <label><input type="radio" name="q317" value="十分">1</label>
            <label><input type="radio" name="q317" value="やや十分">2</label>
            <label><input type="radio" name="q317" value="やや皆無">3</label>
            <label><input type="radio" name="q317" value="皆無" checked="checked">4 皆無→</label><br>
            <label>対応<input style="width: 350px" type="text" id="inputLR3" value=""></label>
            <hr>
            風呂・喫煙所について
            <br>
            風呂:&nbsp;&nbsp;&nbsp; ←十分
            <label><input type="radio" name="q318" value="十分">1</label>
            <label><input type="radio" name="q318" value="やや十分">2</label>
            <label><input type="radio" name="q318" value="やや皆無">3</label>
            <label><input type="radio" name="q318" value="皆無" checked="checked">4 皆無→</label>
            <br>
            <label>清掃状況<input type="text" id="inputBathCleanness"  value=""></label>
            <br>
            喫煙所: ←十分
            <label><input type="radio" name="q319" value="十分">1</label>
            <label><input type="radio" name="q319" value="やや十分">2</label>
            <label><input type="radio" name="q319" value="やや皆無">3</label>
            <label><input type="radio" name="q319" value="皆無" checked="checked">4 皆無→</label>
            <br>
            <label>分煙:<input type="radio" name="q320" value="有">有</label>
            <label><input type="radio" name="q320" value="無" checked="checked">無</label><br>
            <label>対応<input style="width: 350px" type="text" id="inputLR4" value=""></label>
        </form>
        <hr>
        <form>
            <label>生活環境と衛生面</label><br>
            清掃状況:
            <label><input type="radio" name="q321" value="不良">不良</label>
            <label><input type="radio" name="q321" value="普通">普通</label>
            <label><input type="radio" name="q321" value="良" checked="checked">良</label>
            <br>
            床の清掃:
            <label><input type="radio" name="q322" value="無">無</label>
            <label><input type="radio" name="q322" value="有" checked="checked">有</label>
            <br>
            ゴミ収集場所:
            <label><input type="radio" name="q323" value="無">無</label>
            <label><input type="radio" name="q323" value="有" checked="checked">有</label>
            <br>
            履き替え:
            <label><input type="radio" name="q324" value="無">無</label>
            <label><input type="radio" name="q324" value="有" checked="checked">有</label>
            <br>
            空調管理:
            <label><input type="radio" name="q325" value="不適">不適</label>
            <label><input type="radio" name="q325" value="適" checked="checked">適 (換気・温度・湿度等の管理)</label>
            <br>
            粉塵:
            <label><input type="radio" name="q326" value="無">無</label>
            <label><input type="radio" name="q326" value="有" checked="checked">有</label>
            <br>
            生活騒音:
            <label><input type="radio" name="q327" value="不適">不適</label>
            <label><input type="radio" name="q327" value="適" checked="checked">適</label>
            <br>
            寝具: ←十分
            <label><input type="radio" name="q328" value="十分">1</label>
            <label><input type="radio" name="q328" value="やや十分">2</label>
            <label><input type="radio" name="q328" value="やや皆無">3</label>
            <label><input type="radio" name="q328" value="皆無" checked="checked">4 皆無→</label>
            <br>
            寝具乾燥対策:
            <label><input type="radio" name="q329" value="無">無</label>
            <label><input type="radio" name="q329" value="有" checked="checked">有</label>
            <br>
            ペット対策:
            <label><input type="radio" name="q330" value="無">無</label>
            <label><input type="radio" name="q330" value="有" checked="checked">有</label>
            <br>
            ペットの収容対策:
            <label><input type="radio" name="q331" value="無">無</label>
            <label><input type="radio" name="q331" value="有" checked="checked">有</label>
            <br>
            <label>対応<input style="width: 350px" type="text" id="inputLR5" value=""></label>
        </form>
        <hr>
        <form>
            <label>食事の供給</label><br>
            食事: ←十分
            <label><input type="radio" name="q332" value="十分">1</label>
            <label><input type="radio" name="q332" value="やや十分">2</label>
            <label><input type="radio" name="q332" value="やや皆無">3</label>
            <label><input type="radio" name="q332" value="皆無" checked="checked">4 皆無→</label>
            <br>
            <label>１日の食事回数: <input type="text" id="inputFoodNum"  value="">回</label><br>
            炊き出し:
            <label><input type="radio" name="q333" value="無">無</label>
            <label><input type="radio" name="q333" value="有" checked="checked">有</label>
            <br>
            残飯処理:
            <label><input type="radio" name="q334" value="不適">不適</label>
            <label><input type="radio" name="q334" value="適" checked="checked">適</label>
            <br>
            <label>対応<input style="width: 350px" type="text" id="inputLR6" value=""></label>
        </form>
    </fieldset>
    <fieldset>
        <legend>その他備考</legend>
        <label><textarea type="text" style="width: 500px" rows="5" id="inputOTHER"  value=""></textarea></label>
    </fieldset>

    <fieldset>
        <script>
            function createMessage() {
                //var createMsg = "test";

                var topicMsg = "/h-crisis/shelter/hokenjoChokaiMethod/" + document.getElementById('inputCode').value;
                var createMsg = document.getElementById('inputCode').value +
                                ',' + document.getElementById('inputHuman').value;
                for(var i = 1; i < 5; i++) {
                    for(var j = 1; j < 35; j++) {
                        var arrayValue = "q" + i + j;
                        var tmpList = document.getElementsByName(arrayValue);
                        for (var k = 0; k < tmpList.length; k++) {
                            if (tmpList[k].checked) {
                                createMsg = createMsg + ',' + tmpList[k].value;
                                continue;
                            }
                        }
                    }
                }

                createMsg = createMsg +
                        ',' + document.getElementById('inputPref').value +
                        ',' + document.getElementById('inputSchelter').value +
                        ',' + document.getElementById('inputSchelterNum').value +
                        ',' + document.getElementById('inputSchelterDNum').value +
                        ',' + document.getElementById('inputSchelterNNum').value +
                        ',' + document.getElementById('inputSchelterTEL').value +
                        ',' + document.getElementById('inputSchelterFAX').value +
                        ',' + document.getElementById('inputSchelterEMAIL').value +
                        ',' + document.getElementById('inputSchelterAREA').value +
                        ',' + document.getElementById('inputSchelterAREAPER').value +
                        ',' + document.getElementById('inputSchelterTRAFFIC').value +
                        ',' + document.getElementById('inputRep').value +
                        ',' + document.getElementById('inputRepRest').value +
                        ',' + document.getElementById('inputCommunication').value +
                        ',' + document.getElementById('inputSelfOrganDetail').value +
                        ',' + document.getElementById('inputOuterOrganTeam').value +
                        ',' + document.getElementById('inputOuterOrganNum').value +
                        ',' + document.getElementById('inputOuterOrganJob').value +
                        ',' + document.getElementById('inputVolunteerOrganTeam').value +
                        ',' + document.getElementById('inputVolunteerOrganNum').value +
                        ',' + document.getElementById('inputVolunteerOrganJob').value +
                        ',' + document.getElementById('inputOrganOther').value +
                        ',' + document.getElementById('inputLR1').value +
                        ',' + document.getElementById('inputLR2').value +
                        ',' + document.getElementById('inputToiletNum').value +
                        ',' + document.getElementById('inputLR3').value +
                        ',' + document.getElementById('inputBathCleanness').value +
                        ',' + document.getElementById('inputLR4').value +
                        ',' + document.getElementById('inputLR5').value +
                        ',' + document.getElementById('inputFoodNum').value +
                        ',' + document.getElementById('inputLR6').value +
                        ',' + document.getElementById('inputOTHER').value +
                        "," + lat + "," + lon;

                var nowTime = new Date();
                var nowYer = nowTime.getFullYear();
                var nowMon = nowTime.getMonth() + 1;
                var nowDay = nowTime.getDate();
                var nowHrs = nowTime.getHours();
                var nowMin = nowTime.getMinutes();
                createMsg = createMsg + ',' + nowYer + "/" + nowMon + "/" + nowDay + "/" + nowHrs + ":" + nowMin + "";
                console.log(topicMsg + " : " + createMsg);
                onlySubmit(topicMsg, createMsg);
            }
        </script>
        <input id ="closeBtn" type="button" onclick="window.close()" value="閉じる" />
        <input id = "submitBtn" type="button" onclick="createMessage();" value="送信" />
        <script>

            function inputSELFORGAN(){
                if (document.getElementsByName('q21')[0].checked) {
                    document.getElementById('inputSelfOrganDetail').style.display = 'block';
                } else {
                    document.getElementById('inputSelfOrganDetail').style.display = 'none';
                }
            }

            function inputOUTERORGAN(){
                if (document.getElementsByName('q22')[0].checked) {
                    document.getElementById('inputOuterOrgan').style.display = 'block';
                    document.getElementById('inputOuterOrganTeam').style.display = 'block';
                    document.getElementById('inputOuterOrganNum').style.display = 'block';
                    document.getElementById('inputOuterOrganJob').style.display = 'block';
                } else {
                    document.getElementById('inputOuterOrgan').style.display = 'none';
                    document.getElementById('inputOuterOrganTeam').style.display = 'none';
                    document.getElementById('inputOuterOrganNum').style.display = 'none';
                    document.getElementById('inputOuterOrganJob').style.display = 'none';
                }
            }

            function inputVOLUNTEER(){
                if (document.getElementsByName('q23')[0].checked) {
                    document.getElementById('inputVolunteerOrgan').style.display = 'block';
                    document.getElementById('inputVolunteerOrganTeam').style.display = 'block';
                    document.getElementById('inputVolunteerOrganNum').style.display = 'block';
                    document.getElementById('inputVolunteerOrganJob').style.display = 'block';
                } else {
                    document.getElementById('inputVolunteerOrgan').style.display = 'none';
                    document.getElementById('inputVolunteerOrganTeam').style.display = 'none';
                    document.getElementById('inputVolunteerOrganNum').style.display = 'none';
                    document.getElementById('inputVolunteerOrganJob').style.display = 'none';
                }
            }

            var urlStr = location.search;
            if(urlStr === '') {
                // 避難所IDと避難所名がないと送信ボタンが押せない設定
                // document.getElementById('submitBtn').disabled = 'true';
            }
            else {
                var pairUrlStr = urlStr.split(',');
                if(pairUrlStr.length>=2) {
                    pairUrlStr[0] = pairUrlStr[0].substr(4);
                    pairUrlStr[0] = decodeURI(pairUrlStr[0]);
                    pairUrlStr[1] = pairUrlStr[1].substr(5);
                    pairUrlStr[1] = decodeURI(pairUrlStr[1]);
                    document.getElementById('inputCode').value = pairUrlStr[0];
                    document.getElementById('inputCode').disabled = 'true';
                    document.getElementById('inputPref').value = pairUrlStr[0];
                    document.getElementById('inputPref').disabled = 'true';
                    document.getElementById('inputSchelter').value = pairUrlStr[1];
                    document.getElementById('inputSchelter').disabled = 'true';

                }
            }
        </script>

    </fieldset>
</form>
</body>
</html>