menu .solid {
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, transform 0.6s;
}

menu .solid:hover {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}