.button {
    z-index: 3;
    position: absolute;
    left : 0;
    width: 70px;
    height: 30px;
    background-color: whitesmoke;
}

.buttonWide {
    z-index: 3;
    position: absolute;
    left : 0;
    width: 70px;
    height: 50px;
    background-color: whitesmoke;
}

.info {
    z-index: 3;
    background-color:whitesmoke;
    top: 0px;
    right: 0;
    width: 380px;
    height: 170px;
    border: 2px solid burlywood;
    padding: 5px 10px;
    table-layout: fixed;
    position:absolute;
    overflow: scroll;
    display:none;
    font-size:18px;
}

.info#info{
    top: 184px;
    height: 80%;
}